* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: #fff;
}
