body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  width: fit-content;
  background-color: #594949;
  padding: 50px 200px;
  margin: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #594949;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
