html,
body {
  margin: 10px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282c34;
  color: white;
  height: 100%;
  width: 100%;
}

input,
button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
}
